# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
.build/
.claude/
.claude_*
.cursor/
CLAUDE_CONTEXT.md

# macOS
.DS_Store
*.swp
*~
.Trash-*

# CocoaPods
Pods/

# Secrets
*.xcconfig

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
